body {
    margin: 50px 50px 50px 150px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}

h1, h2, h3 {color: darkgreen}

.coursedata {color: darkgreen}

  
.deletebtn {
    background-color: crimson;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.likesbtn {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    margin-left: 300px;
}

.courseimg {
    margin-left: 300px;
  }

