.course-form {
    border-bottom: 2px solid var(darkgreen);
    border-top: 2px solid var(darkgreen);
    padding: 1rem 0;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 1rem;
}
  
.course-form button {
    background: darkgreen;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
.course-form label {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    flex: 1;
}